[user]
	name = Alex Paulson
	email = whileforkdofork@gmail.com
[push]
	default = simple
[color]
	ui = always
	status = always
	branch = always
	diff = always
[diff]
	tool = vimdiff3
[merge]
	tool = fugitive
[mergetool "fugitive"]
	cmd = vim -f -c \"Gdiff\" \"$MERGED\"
[mergetool]
	prompt = false
[core]
	editor = vim
	whitespace = cr-at-eol
; [mergetool "vimdiff3"]
; 	cmd = vim -f -d -c \"wincmd J\" \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
[url "git@github.com:"]
	insteadOf = git://github.com/
[url "https://"]
	insteadOf = git://

[alias]
# From http://www.codedevelopr.com/
	zip = "!zipArchive() { git archive --format zip --output $1 $2; }; zipArchive"
	tgz = "!zipArchive() { git archive --format tgz --output $1 $2; }; zipArchive"
	bra = branch -vva
	la = log --pretty=format:'%C(yellow)%h%Creset %C(bold green)%an%Creset %Cblue%ad%Creset %s' --date=short
	lan = log --pretty=format:'%C(yellow)%h%Creset %C(bold green)%an%Creset %Cblue%ad%Creset %s' --date=short ORIG_HEAD..HEAD
	new = log --oneline --no-decorate --name-status --no-merges ORIG_HEAD..HEAD
	sync = !git pull && git push
[help]
	autocorrect = 1
[status]
	showUntrackedFiles = all
[pull]
	rebase = true
